/* Contenedor principal */
.contenedor {
  display: flex;
  width: 100% !important;
  background-color: var(--secondary);
  min-height: 100vh;
}

/* Contenedor de productos */
.productos {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  width: 100%;
}

.spinner {
  color: white;
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



