/* Contenedor principal */
.contenedor {
  display: flex;
  width: 100% !important; 
  background-color: var(--bg-dark);
  min-height: 100vh;
}

/* Contenedor de productos */
.productos {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  width: 100%;
}
