header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(255, 255, 255);
}

li {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}