header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(255, 255, 255);
    background-color: var(--primary);
    color: var(--text);
}

.logoandname {
    width: 33%;
    margin-left: 8px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.logoandname h1 {margin-left: 16px;

}


.logo {
    max-width: 72px;
}


nav {
    width: 33%;
}



nav a {
  color: var(--third);
}

nav a:hover {
  color: var(--secondary);
}

.widget-cart {
        margin-right: 20px;
}



li {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}

